<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Formulário</title>
</head>
<body>
<h1>Formulário de Pessoa</h1>
<form th:action="@{/pessoa/criar-pessoa}" th:object="${pessoa}" method="post">
  <label for="nome">Nome:</label>
  <input type="text" th:field="*{nome}" id="nome">
  <br>
  <label for="idade">Idade:</label>
  <input type="number" th:field="*{idade}" id="idade">
  <br>
  <label for="altura">Altura:</label>
  <input type="number" step="0.01" th:field="*{altura}" id="altura">
  <br>
  <label for="salario">Salário:</label>
  <input type="number" step="0.01" th:field="*{salario}" id="salario">
  <br>
  <button type="submit">Salvar</button>
</form>

<!-- Exibe a mensagem de sucesso ou erro -->
<p th:text="${mensagem}" style="color: green;"></p>
<p th:text="${erro}" style="color: red;"></p>
</body>
</html>
